API_FACEBOOK_TOKEN_URL='http://localhost:3300/v1/auth/facebook'
FACEBOOK_AUTH_URL='https://www.facebook.com/v2.8/dialog/oauth?client_id=[facebook_client_id]&redirect_uri=http://localhost:3000/auth/facebook/return&scope=email&type=web_server'